.profCard{
    margin:auto;
    padding-top: 20px;
    /* text-align: center; */
}

@media only screen and (min-width: 700px) {
.img {
    width: 82vw;
    height: 26rem !important;
   
}
}
@media only screen and (min-width: 1300px) {
    .img {
        width: 43vw;
        height: 27rem !important;
       
    }
    }