.header {
    display: flex;
    justify-content: space-between; 
    border-bottom: .5px solid blue;
    padding: 20px;
}

.icons {
    border-radius: 50%
    !important;
    border-radius: 100%;
    padding: 11px 18px !important
}