.roommieCard {
    width: 600px;
    padding: 20px;
    padding-top: 30px;
    max-width: 28vw;
    height: 50vh;
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    bottom: 10px;
    
}

.cardContainer {
    margin-top: 5vh;
    justify-content: center;
    display: flex;
}

.title {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
}

.roommieCard > h2 {
    color: whitesmoke;
    bottom: 70px;
    position: absolute;
    font-size: 20px;
}

.roommieCard > h3 {
    color: whitesmoke;
    bottom: 50px;
    position: absolute;
    font-size: 15px;
}

.roommieCard > p {
    color: white;
    font-weight: bold;
    bottom: 3px;
    position: absolute;
    font-size: 13px;
}

.rummage {
    position: absolute;
    justify-content: center;
    text-align: center !important;
}
.profCard{
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

@media only screen and (min-width: 700px) {
.img {
    width: 82vw;
    height: 26rem !important;
   
}
}
@media only screen and (min-width: 1300px) {
    .img {
        width: 43vw !important;
        height: 27rem !important;
       
    }
    }

@media only screen and (max-width: 700px) {
    .roommieCard {
        max-width: 80vw
    }

}